*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    min-height: 4096px;
    background-color: aqua;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 20px;
    background-color: red;
}